@model List<OrderModel>

<div class="body">
	@if (Model.Any() && Model != null)
	{
		<div class="order-table">
			<div class="field order-date">Заказчик</div>
			<div class="field order-type">Тип изделия</div>
			<div class="field order-date">Материал</div>
			<div class="field order-date">Драгоценный камень</div>
			<div class="field order-date">Дата заказа</div>
			<div class="field order-date">Статус</div>
		</div>
		@foreach (var order in Model)
		{
			
				<div class="order">
					<div class="field order-type">@order.ClientName</div>
					<div class="field order-type">@order.Type</div>
					<div class="field order-type">@order.Material</div>
					<div class="field order-type">@order.Gem</div>
					<div class="field order-date">@order.Date</div>
					<div class="field order-date">@order.Status</div>

					<!--More window and BUTTON-->
					<div class="modal fade" width="100%" id="staticBackdrop-@(order.OrderID)" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="staticBackdropLabel">Подробности заказа</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
								</div>
								<div class="modal-body">
									<!--тут внутренности-->



									<div class="more-field date-of-order">
										<div>Когда был заказан</div>
										<div>@order.Date</div>
									</div>
									<div class="more-field price">
										<div>Цена</div>
										<div>$@order.Price</div>
									</div>
									<div class="more-field price">
										<div>Драгоценный камень</div>
										<div>@order.Gem</div>
									</div>
									<div class="more-field price">
										<div>Статус</div>
										<div>@order.Status</div>
									</div>
									<div class="more-field price">
										<div>Комментарий</div>
										<div>@order.Comment</div>
									</div>


									<br>
									<div class="cancel-button">


										<button class="btn btn-danger cancel" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg-@(order.OrderID)">Отказаться</button>
										@if (order.Status == "Делается")
										{
											<br>

											<button class="btn btn-success accept" data-bs-toggle="modal" data-bs-target=".done-order-@(order.OrderID)">Обозначить Готовым</button>
											<div class="modal fade done-order-@(order.OrderID)" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
											<div class="modal-dialog modal-lg cancel-modal">
												<div class="modal-content">
													<div class="modal-header cancel-header">
														<h4 class="modal-title" id="myModalLabel">ВЫ УВЕРЕНЫ?</h4>
													</div>
													<div class="cancel-buttons">

														<button class="btn btn-danger button" onclick="location.href='@Url.Action("MasterDoneOrder", "Home", new {
																																							OrderId = order.OrderID,
																																							ClientLogin= ViewBag.master,
																																							Type = "",
																																							Material = "",
																																							Comment = "",
																																							Date = "",
																																							Gem ="",
																																							MastersName = order.MastersName,
																																							Status = "",
																																							Price = ""})' ">
															ДА
														</button>
														<button class="btn btn-secondary button" data-bs-dismiss="modal">НЕТ</button>
													</div>

												</div>
											</div>





										</div>
											
										}

										<div class="modal fade bs-example-modal-lg-@(order.OrderID)" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
											<div class="modal-dialog modal-lg cancel-modal">
												<div class="modal-content">
													<div class="modal-header cancel-header">
														<h4 class="modal-title" id="myModalLabel">ВЫ УВЕРЕНЫ?</h4>
													</div>
													<div class="cancel-buttons">

														<button class="btn btn-danger button" onclick="location.href='@Url.Action("DeleteOrder", "Home", new {OrderId = order.OrderID, ClientLogin=ViewBag.master, Type = order.Type, Material = order.Material, Comment = order.Comment,  Date = order.Date, Gem = order.Gem, MastersName = order.MastersName, Status = order.Status, Price = order.Price})' ">ДА</button>
														<button class="btn btn-secondary button" data-bs-dismiss="modal">НЕТ</button>
													</div>

												</div>
											</div>
										</div>
									</div>


								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

								</div>
							</div>
						</div>
					</div>



					<div class="field more-button">
						<button class="btn btn-primary more-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop-@(order.OrderID)">Подробнее...</button>
					</div>
					<!--More BUTTON END-->
				</div>
			
			
		}
		
	}
	else
	{
		<div>
			Пока заказов нет...
		</div>
	}

	<br>
</div>

